.container-job {
  padding: 0;
  border-radius: 25px;
  background-color: #383B40;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-job-details-img {
  width: 125px;
  padding-top: 10px;
}

.container-job-details {
  padding: 0;
  font-size: 15px;
}

.container-job-details-learn {
  flex-direction: row;
  display: flex;
}

.container-job-details-learn button {
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  height: fit-content;
  margin-top: 15px;
  padding-top: 0px;
}